.TabsRoot {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
  background: #272727;
}

  .TabsList {
    display: flex;
    border-bottom: 1px solid #111113;
  }


  .TabsTrigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 45px;
    background: #272727;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    transition: all ease-in-out 0.2s;
  }

  .TabsTrigger:hover {
    opacity: 0.7;
  }
  .TabsTrigger[data-state='active'] {
    color: #fff;
    border-bottom: 1px solid #fff;
  }.TabsTrigger:focus {
    color: #fff;
  }


  .TabsContent {
    padding: 20px;
    outline: none;
  }

